<!--<h1>Movie  details:</h1>-->

<!--<div><span> id:</span>{{movie.id}}</div>-->
<!--<div><span> name:</span>{{movie.name}}</div>-->
<!--<div><span> releaseYear:</span>{{movie.releaseYear}}</div>-->

<!--<h2>Edit your infomation </h2>-->
<!--<div>-->
<!--  <label >Name:-->
<!--  <input [ngModel] ="movie.name" placeholder="Enter movie name " >-->
<!--  </label>-->
<!--</div>-->
<h2>My favorite movie</h2>
<div class="parent">
  <ol class="movies">
    <li class="movieListItem" *ngFor="let eachMovie of movies"
        [class.selected] = "eachMovie === selectedMovie"
        (click)="onSelect(eachMovie)" >
      {{eachMovie.name}} - {{eachMovie.releaseYear}}
    </li>
  </ol>
<!--  gan  movie cho  selectMovie de truyen vao  chi app movie details-->
<app-movie-details [movie12]="selectedMovie" ></app-movie-details>
</div>


